
# Настройки Postgres
POSTGRES_USER=                      # Пользователь БД
POSTGRES_PASSWORD=                  # Пароль БД
POSTGRES_DB=                        # Имя БД
POSTGRES_PORT=                      # Порт БД

# Настройки backend
SECRET_KEY=                         # Секретный ключ django
POSTGRES_HOST=postgres              # Адрес базы данных
TIME_ZONE=                          # Тайм-зона прилоежния

DEBUG=                              # Включение режима дебага

BACKEND_WORKERS_NUM=                # Количество gunicorn воркеров

# Настройки frontend
REACT_APP_API_KEY=