.sidebar {
  position: absolute;
  top: 20px;
  left: 20px;

  height: 82vh;
  width: 25rem;
  padding: 2rem 1rem;

  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.15);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;

  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    top: auto;
    left: 0;

    width: 100%;
    transform: translateY(-25%);
  }
}
